body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

.navbar ul li {
    font-size: 20px;
}
.main-sec-container{
    background-color: rgb(199, 178, 178);
}
.col {
    padding: 0px;
}

#img-card{
    transition: all 0.25s;
}
#img-card:hover{
    scale: 1.1;
    cursor: zoom-in;
    border: 1px solid black;
}
#full-card{
    transition: all 0.25s;
    border: none;    
}
#full-card:hover{
    border: 1px solid black;    
    box-shadow: -3px 2px 26px -4px rgba(89,65,65,0.79);
    -webkit-box-shadow: -3px 2px 26px -4px rgba(89,65,65,0.79);
    -moz-box-shadow: -3px 2px 26px -4px rgba(89,65,65,0.79);
}